html {
}


body {
    background: linear-gradient(160deg, black, darkolivegreen 300%);
    height: 2800px;
}


#_panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);

    border: medium solid #101611;
    padding: 100px;
    padding-top: 200px;

    text-align: center;
}


#_logo {
    width: 170px;
}


#_text_primary {
    width: 512px;
    font-size: 52px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: lightgray;
    text-shadow: #2c542f 3px 3px;
}


#_text_sub {
    font-size: 40px;
    font-family: Consolas, serif;
    text-align: center;
    color: #1d2f2f;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    font-size: 28px;
    text-align: center;
    color: #90909030;
}